#card{
  width: 275px;
  height: 250px;

  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;

}

#cardPhoto>img{
  position: relative;
  width: 250px;
  top: 76px;
}

h4{
  position: relative;
  z-index: 1;
}

p{
  position: relative;
  z-index: 1;
}

button{
  position: relative;
  z-index: 1;
}
