#container>div{
  width: 800px;
  margin-top: 9%;
}

#box-image{
  background-image: url('../../../../public/images/Background_decor.svg');
}

#box-image>img{
  height: 360px;
  width: 300px;
  margin-top: 48px;
}

.btn{
  box-shadow: rgba(0, 0, 0, 0.35) 0px -20px 36px -28px inset;
}

.btn:hover{
 background-color: #7473732f;

}

