<app-person
  id="1"
  personColorFundoImg="#837ba8a9"
  personColorFundo="#C1B6F8"
  personPhoto="images/person_1.png"
  personTitle="Liam Novak"
  personSubTitle="Software Engineer"
  personDescription="Liam Novak sempre foi apaixonado por tecnologia. Desde cedo, ele se interessava por computadores e ficava fascinado em entender como as coisas funcionavam. Quando adolescente, Liam passava horas desmontando e montando computadores, tentando aprender sozinho sobre cada peça e como interagiam. Mais tarde, ao descobrir o mundo da programação, ele sentiu que finalmente tinha encontrado seu propósito."
></app-person>

<app-person
  id="2"
  personColorFundoImg="#8d697e"
  personColorFundo="#EDACD2"
  personPhoto="images/person_2.png"
  personTitle="Sophia Moretti "
  personSubTitle="Business Development Manager"
  personDescription="Sophia Moretti é uma talentosa Business Development Manager, conhecida por sua capacidade de identificar oportunidades de crescimento e criar parcerias estratégicas. Sua carreira começou de maneira inesperada, quando, logo após a faculdade, ela aceitou um estágio em uma pequena startup de tecnologia em Milão, Itália. Inicialmente, seu papel envolvia tarefas administrativas, mas, ao ver sua aptidão para comunicação e visão de mercado, seus supervisores passaram a incluí-la em reuniões com investidores e planejamentos estratégicos. Essa experiência despertou em Sophia uma paixão pela área de desenvolvimento de negócios."
></app-person>

<app-person
  id="3"
  personColorFundoImg="#607796"
  personColorFundo="#9DC4F8"
  personPhoto="images/person_3.png"
  personTitle="Ethan Rossi"
  personSubTitle="Business Development Manager"
  personDescription="Ethan Rossi sempre teve uma paixão por negócios e uma habilidade natural para construir relacionamentos. Desde jovem, ele se destacou em atividades que exigiam habilidades de persuasão e estratégia, seja organizando eventos na escola ou vendendo produtos em feiras locais. Ao concluir seu curso de administração de empresas, ele decidiu seguir a carreira em desenvolvimento de negócios, acreditando que poderia fazer a diferença em uma empresa e contribuir para o seu crescimento."
></app-person>

<app-person
  id="4"
  personColorFundoImg="#948169"
  personColorFundo="#F8D8B0"
  personPhoto="images/person_4.png"
  personTitle="Isabella Ricci"
  personSubTitle="UX Designer"
  personDescription="Isabella Ricci sempre teve uma paixão por design e tecnologia, que começou na infância quando costumava desenhar interfaces para jogos em papel. Com um olhar aguçado para a estética e uma curiosidade insaciável sobre como as coisas funcionam, ela decidiu seguir a carreira de UX Designer, acreditando que poderia melhorar a experiência das pessoas com produtos digitais."
></app-person>

<app-person
  id="5"
  personColorFundoImg="#4e887c"
  personColorFundo="#86E7D4"
  personPhoto="images/person_5.png"
  personTitle="Noah Conti"
  personSubTitle="Content Creator"
  personDescription="Noah Conti sempre teve um dom natural para contar histórias. Desde pequeno, ele adorava escrever e criar narrativas que capturavam a imaginação de seus amigos e familiares. Essa paixão o levou a estudar Comunicação Social, onde se especializou em mídias digitais. Ao se formar, Noah decidiu seguir a carreira de Content Creator, acreditando que poderia usar suas habilidades para conectar pessoas e compartilhar ideias inspiradoras."
></app-person>

