
<div class="">
  <div id="container" class="row mt-5 mb-4 rounded-5">
    <main class="mb-3 p-4">
      <span class="text-primary">Our team</span>
      <h1>Meet the brain</h1>
      <p>We are proud to have them as part of our community and look forward to continuing to push the boundaries of what's possible in the world of digital art.</p>
    </main>

  <app-card class="col-6"
    cardPhoto="images/person_1.png"
    cardTitle="Liam Novak"
    cardDescription="Software Engineer"
    cardColor="#C1B6F8">
  </app-card>

  <app-card class="col-6"
    cardPhoto="images/person_2.png"
    cardTitle="Sophia Moretti"
    cardDescription="Business Development Manager"
    cardColor="#EDACD2">
  </app-card>

  <app-card class="col-6"
    cardPhoto="images/person_3.png"
    cardTitle="Ethan Rossi"
    cardDescription="Business Development Manager"
    cardColor="#9DC4F8">
  </app-card>

  <app-card class="col-6"
    cardPhoto="images/person_4.png"
    cardTitle="Isabella Ricci"
    cardDescription="UX Designer"
    cardColor="#F8D8B0">
  </app-card>

  <div id="box" class="col-6 ">
    <p class="fw-semibold">See all members <img src="images/arrow_up_right.svg" alt="arco"></p>
  </div>

  <app-card class="col-6 rounded-bottom-5"
    cardPhoto="images/person_5.png"
    cardTitle="Noah Conti"
    cardDescription="Content Creator"
    cardColor="#86E7D4">
  </app-card>

  </div>
</div>
