<div>
  <div id="container" class="row rounded-3">
    <div id="pp" class="mb-3 p-4 me-5 col-1">
      <span class="text-primary">Our team</span>
      <h1>Meet the brain</h1>
      <p>We are proud to have them as part of our community and look forward to continuing to push the boundaries of
        what's possible in the world of digital art.</p>
    </div>

      @for (member of members; track $index) {
        <app-card
          class="col-3"
          id="{{member.id}}"
          cardTitle="{{member.name}}"
          cardPhoto="{{member.image}}"
          cardColor="{{member.corDeFundoDoCard}}"
          cardDescription="{{member.profissao}}">
        </app-card>
      }

      <a>See all members <img src="images/arrow_up_right.svg" alt=""></a>

  </div>
</div>
