#container{
  background-image: url('../../../../public/images/Background_decor.svg');
  background-repeat: no-repeat;
  background-color: #F3F4F6;
  margin: auto;
  margin-top: 100px;
  width: 1150px;
}

#pp{
  width: 550px;
}

app-card{
  padding: 0;
}

#box{
  width: 275px;
  height: 250px;
}


#box>p{
  margin-top: 200px;
  margin-left: 20px;
}

.col-3{
  width: 275px;
}

a{
  position: absolute;
  top: 550px;
  left: 1030px;
  cursor: pointer;
}
